* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: lighter;
    color: #3E474F;
    font-size: 18px;
    line-height: 1;
    outline: 1px solid red;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 5vh auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.sect {
    background: #eee;
    padding: 2vh;
    margin-bottom: 20px;
}

.sect__title {
    text-align: center;
    border: 1px solid #3E474F;
    margin-bottom: 1vh;
    padding: 1vh;
    font-size: 30px;
}

.sect__list {
    position: relative;
}

.sect__item {
    margin-bottom: 6px;
    margin-left: 1vh;
}

.sect__link:hover,
.sect__link--undone:hover {
    text-decoration: underline;
}

.sect__link--undone {
    cursor: pointer;
}

.sect__pop-up {
    display: none;
    font-size: 14px;
    margin-left: 2vh;
    padding: 1vh;
}

.sect__link:hover .sect__pop-up,
.sect__link--undone:hover .sect__pop-up {
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: #ccc;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}