* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #222;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main,
.headline,
.menu,
.list-item,
body {
    outline: 1px solid #222;
}

.main {
    background-color: #eee;
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px;
}

.headline,
.menu {
    background-color: #ddd;
    transition: background-color 0.3s linear;
}

.headline {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.menu {
    margin-top: 50px;
}

.menu,
.task-list {
    padding: 5px 15px 5px 5px;
}

.list-item {
    transition: background-color 0.3s linear;
    background-color: #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-left: 27px;
    list-style: none;
}

.list-item .list-item {
    background-color: #bbb;
}

.list-item>a {
    color: #222;
    text-decoration: none;
}

.sum-headline {
    text-transform: uppercase;
}

.sum-headline a {
    text-decoration: none;
    color: inherit;
    margin-left: 25px;
}

.list-item .sum-item {
    padding-left: 0px;
}

summary {
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.main:hover .headline {
    background-color: #eef;
}

.list-item:hover {
    background-color: #cef;
}

.list-item .list-item:hover {
    background-color: #dfd;
}

.homework:hover {
    background-color: #ffd;
}

.practice:hover {
    background-color: #fed;
}

.projects:hover {
    background-color: #fdd;
}

span {
    align-self: center;
    margin-left: 5px;
    opacity: 0;
    padding: 2px;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 1;
    background-color: #fde;
    border: 1px solid #ccc;
    color: #6c6c6c;
    transition: opacity 0.1s ease;
}

.mobile {
    display: flex;
}

.mobile:hover span {
    opacity: 1;
}

details[open] summary~* {
    animation: sweep .3s ease-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -20px
    }
    100% {
        opacity: 1;
        margin-left: 0px
    }
}