* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    color: #222;
    font-size: 25px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main,
.headline,
.menu,
.list-item,
body {
    outline: 1px solid #222;
}

.main {
    background-color: #eee;
    max-width: 840px;
    margin: 15px auto;
    padding: 15px 35px;
}

.headline,
.menu {
    background-color: #ddd;
    transition: background-color 0.3s linear;
}

.headline {
    font-family: -apple-system-headline;
    font-weight: lighter;
    text-align: center;
    font-size: 60px;
    margin: 0;
}

.menu {
    padding: 5px;
}

.homework {
    margin-top: 20px;
}

.projects,
.practice {
    margin-top: 10px;
}

.list-item {
    transition: background-color 0.3s linear;
    background-color: #ccc;
    list-style: none;
    margin: 0 16px 8px;
    padding: 5px;
}


/* .list-item .list-item {
    margin: 0 3px 8px;
    background-color: #bbb;
} */

.list-item>a {
    color: #222;
    text-decoration: none;
}

.list-item>p {
    cursor: pointer;
}

.projects a {
    text-transform: initial;
}

.list-item:last-child {
    margin-bottom: 3px;
}

summary .sum-headline {
    margin-right: 20px;
}

.sum-headline {
    text-transform: uppercase;
}

.sum-headline a {
    text-decoration: none;
    color: inherit;
}

summary {
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.hw-list {
    margin-top: 8px;
}

.main:hover .headline {
    background-color: #eef;
}

.list-item:hover {
    background-color: #cef;
    outline: 1px dashed;
}

.homework:hover {
    background-color: #ffd;
}

.practice:hover {
    background-color: #fed;
}

.projects:hover {
    background-color: #fdd;
}

span {
    align-self: center;
    margin-left: 5px;
    opacity: 0.5;
    padding: 2px;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 1;
    border: 1px dotted #ccc;
    color: #6c6c6c;
    cursor: default;
    transition: opacity 0.3s ease;
}

.mob {
    background-color: #dfd;
}

.js {
    background-color: #fde;
}

.ud {
    background-color: #eee;
}

.bem {
    background-color: #eff;
}

.pop-up {
    display: flex;
}

.pop-up:hover span {
    opacity: 1;
}

details summary::-webkit-details-marker {
    float: right;
    margin: 10px 10px 0 0;
    border: 0;
    padding: 0;
    color: inherit;
    opacity: 0.7;
    font-size: 12px;
}