* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-size: 22px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.task-block {
    margin-top: 20px;
    margin-left: 20px;
    max-height: 50px;
    max-width: 100px;
    padding: 8px 24px 16px;
    outline: 1px dashed #666;
    transition: max-width 0.3s ease-in;
    transition: max-height 0.3s ease-in 1s;
}

.task-block:hover {
    max-height: 250px;
    max-width: 400px;
}

.task-name,
.task-desc,
.task-lyt,
.task-link {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.task-block:hover .task-name,
.task-block:hover .task-desc,
.task-block:hover .task-lyt,
.task-block:hover .task-link {
    opacity: 1;
}

.task-mod {
    font-size: 30px;
    text-align: center;
}

.task-name,
.task-lyt {
    color: #111;
    font-size: 27px;
    margin: 15px 0;
    border-bottom: 1px solid #777;
}

.task-desc,
.task-link {
    margin-left: 15px;
}

.task-link {
    color: inherit;
    text-decoration: none;
}