body {
    font-family: "Playfair Display", "Arial", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.header-list {
    max-width: 884px;
    min-width: 400px;
    margin: auto;
    padding: 50px 40px;
    text-align: center;
}

.header-list-item {
    display: inline-block;
    margin-right: 40px;
    padding-bottom: 10px;
}

.header-list-link {
    display: block;
    width: 100px;
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
}

.header-list a:hover {
    color: #03a9f4;
}

.first-row,
.second-row,
.third-row,
.button-row {
    max-width: 964px;
    min-width: 480px;
    margin: auto;
}

.first-column,
.second-column {
    display: inline-block;
    margin: auto;
    width: 420px;
    padding: 26px 30px 80px;
}

.subject {
    font-family: 'Ubuntu', "Arial", sans-serif;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
}

.title {
    font-size: 30px;
    line-height: 17px;
    font-weight: 300;
    padding: 7px 0 16px;
    margin: 0;
}

.text {
    padding: 22px 0;
    margin: 0;
}

.button-row {
    margin-bottom: 41px;
}

.load-more-button {
    display: block;
    font-family: "Playfair Display", "Arial", serif;
    width: 150px;
    height: 56px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
    margin: 0 auto;
}

.image-fix {
    object-fit: cover;
    width: 420px;
    height: 280px;
}