body {
    font-family: "Playfair Display", "Arial", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.page-header {
    max-width: 964px;
    min-width: 420px;
    margin: auto;
    padding: 71px 15px;
}

.header-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.header-list li {
    display: inline-block;
    padding: 0 50px;
    width: 100px;
}

.header-list a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}

.header-list a:hover {
    color: #03a9f4;
}

main {
    max-width: 964px;
    min-width: 420px;
    margin: auto;
    padding: 0 15px;
}

.first-column {
    display: inline-block;
    width: 420px;
    padding: 26px 30px 80px;
}

.second-column {
    display: inline-block;
    width: 420px;
    padding: 26px 30px 80px;
}

.subject {
    font-family: 'Ubuntu', "Arial", sans-serif;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
}

.title {
    font-size: 30px;
    line-height: 17px;
    font-weight: 300;
    padding: 7px 0 16px;
    margin: 0;
}

.text {
    padding: 22px 0;
    margin: 0;
}

.button-row {
    min-width: 420px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 41px;
}

.load-more-button {
    display: block;
    font-family: "Playfair Display", "Arial", serif;
    width: 150px;
    height: 56px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
    margin: 0 auto;
}

.third-row-image-fixed {
    object-fit: cover;
    width: 420px;
    height: 280px;
}