/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */

body {
    font-family: "Playfair Display", "Arial", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

h2 {
    display: inline !important;
}

.header-list {
    list-style: none;
}

.header-list a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}

.header-list a:hover {
    color: #03a9f4;
}

.first-row-subject,
.second-row-subject,
.third-row-subject {
    font-family: 'Ubuntu', "Arial", sans-serif;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
}

.first-row-title,
.second-row-title,
.third-row-title {
    font-size: 30px;
    line-height: 17px;
    font-weight: 300;
}

.Load-more-button {
    font-family: "Playfair Display", "Arial", serif;
    width: 164px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
}

.third-row-image-fixed {
    object-fit: cover;
    width: 420px;
    height: 280px;
}