<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module-03-template</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <h1 class="visually-hidden">Our Amazing Website</h1>
    <header class="page-header">
        <nav>
            <a href="" class="site-logo">
                <img src="img/logo.png" alt="site logo" width="201" height="29" </a>
                <ul class="site-navigation">
                    <li><a href="">Features</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Download</a></li>
                </ul>
        </nav>
    </header>

    <main>
        <!--Features Section-->
        <section class="features">
            <h2 class="features-title visually-hidden">Our Features</h2>

            <ul class="features-list">
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
                <li class="features-list-item">
                    <h3>Easily Cusomised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quaerat maxime saepe iste facilis quos dolores, est aliquam harum temporibus tenetur? Error porro quasi natus.</p>
                </li>
            </ul>
        </section>

        <!--Team Section-->
        <section class="team">
            <h2 class="team-title visually-hidden">Our Team</h2>

            <ul class="team-list">
                <li class="team-list-item">
                    <img class="team-list-image" src="img/team-1.png" alt="team member image" width="270" height="270">
                    <p class="team-list-name">Ruth Woods</p>
                    <p class="team-list-occupation">Founder, CEO</p>
                    <p class="team-list-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione obcaecati at rerum enim error quidem vitae sint alias impedit dolore itaque cumque ipsum consequuntur id, possimus blanditiis facere sequi? Possimus minima
                        recusandae assumenda repudiandae.</p>
                    <ul class="team-list-socials">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="team-list-image" src="img/team-2.png" alt="team member image" width="270" height="270">
                    <p class="team-list-name">Ruth Woods</p>
                    <p class="team-list-occupation">Founder, CEO</p>
                    <p class="team-list-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione obcaecati at rerum enim error quidem vitae sint alias impedit dolore itaque cumque ipsum consequuntur id, possimus blanditiis facere sequi? Possimus minima
                        recusandae assumenda repudiandae.</p>
                    <ul class="team-list-socials">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="team-list-image" src="img/team-3.png" alt="team member image" width="270" height="270">
                    <p class="team-list-name">Ruth Woods</p>
                    <p class="team-list-occupation">Founder, CEO</p>
                    <p class="team-list-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione obcaecati at rerum enim error quidem vitae sint alias impedit dolore itaque cumque ipsum consequuntur id, possimus blanditiis facere sequi? Possimus minima
                        recusandae assumenda repudiandae.</p>
                    <ul class="team-list-socials">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="team-list-image" src="img/team-4.png" alt="team member image" width="270" height="270">
                    <p class="team-list-name">Ruth Woods</p>
                    <p class="team-list-occupation">Founder, CEO</p>
                    <p class="team-list-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione obcaecati at rerum enim error quidem vitae sint alias impedit dolore itaque cumque ipsum consequuntur id, possimus blanditiis facere sequi? Possimus minima
                        recusandae assumenda repudiandae.</p>
                    <ul class="team-list-socials">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>

    <footer class="page-footer">
        <div class="location">
            <p>Location</p>
            <p>3481 Melrose Place
                <br> Beverly Hills, CA 90210</p>
        </div>
        <div class="footer-socials">
            <p>Share With Love</p>
            <ul class="footer-socials-list">
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">LinkedIn</a>
                </li>
            </ul>
        </div>

        <div class="download">
            <p>Download Activebox</p>
            <button>Download Here</button>
        </div>
    </footer>
</body>

</html>