* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #515151;
    font-family: Roboto, sans-serif;
}

.header {
    max-width: 1110px;
    margin: auto;
}

.shop-name {
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    margin: auto;
    color: #515151;
    text-decoration: none;
    padding: 92px 10px 10px;
}

.header-list {
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px 10px 560px;
    margin: 0;
}

.header-list li {
    float: left;
}

.header-list a {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    line-height: 11px;
    color: #515151;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}


/* Сработает при hover */

.header-list a:hover {
    color: #1abc9c;
}


/* Сработает при удержании кнопки мыши на ссылке */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}