@media (max-width: 600px) {
    .page-header {
        margin-bottom: 70px;
    }
    .banner {
        display: none;
    }
    .features-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}