.container {
    width: 1170px;
}


/* site navigation */

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
}


/* Features section */

.features-list-item {
    flex: 0 0 370px;
    padding: 0 38px;
    margin-bottom: 72px;
}

.features-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}


/* Team section */

.team {
    margin-bottom: 120px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-list-item {
    width: 270px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: transform 0.2s ease-in, box-shadow 0.3s linear;
}

.team-list-item:hover {
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
}

.team-list-item:hover .team-list-image {
    filter: grayscale(0.3);
}

.team-list-image {
    transition: filter 0.5s ease-out;
    filter: grayscale(1);
}

.team-list-name {
    margin-top: 26pxpxpx;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    color: #2d3033;
}

.team-list-occupation {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 13px;
    line-height: 16px;
    color: #e84545;
    text-transform: uppercase;
}

.team-list-about {
    margin-bottom: 26px;
    margin-top: 0;
    font-size: 14px;
}

.team-list-socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.team-list-socials li {
    margin-right: 4px;
}

.team-list-socials li:last-child {
    margin-right: 0;
}

.team-list-socials a {
    transition: background-color 0.2s linear;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(232, 236, 238);
    background-repeat: no-repeat;
    background-position: center;
}

.team-list-socials a:hover,
.team-list-socials a:focus {
    background-color: #e84545;
}

.icon-facebook {
    background-image: url("../img/icons/social/icon-facebook.png");
}

.icon-twitter {
    background-image: url("../img/icons/social/icon-twitter.png");
}

.icon-linkedin {
    background-image: url("../img/icons/social/icon-linkedin.png");
}

.page-footer {
    background-color: #3a3e64;
    color: #fff;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 246px;
}

.download-button {
    border: none;
    margin: 0;
    padding: 14px 82px;
    background-color: #e84545;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}