* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

body,
a {
    color: #f4fff8;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header,
footer {
    position: fixed;
    width: 100%;
    background-color: #171523;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-nav {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.header-list a {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-item:not(:last-child) {
    margin-right: 20px;
}

.shop-icon {
    background-image: url(../img/icons/shopping-cart.png);
}

.home-icon {
    background-image: url(../img/icons/open-menu.png);
}

section {
    height: calc(100vh - 90px);
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

section .container {
    display: flex;
}

.first-column,
.second-column {
    flex-grow: 1;
    flex-basis: 500px;
}

main {
    padding-top: 50px;
    padding-bottom: 40px;
}

.site-logo,
.button,
.shop-cost,
h3,
h2 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

.site-logo {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h2::after {
    margin-top: 7px;
    display: block;
    width: 80px;
    height: 3px;
    content: "";
    background-color: rgb(244, 255, 248);
    border-radius: 5px;
}

h3 {
    font-size: 60px;
    margin-bottom: 50px;
}

.button {
    display: inline-block;
    padding: 10px 80px;
    border: 2px solid #f4fff8;
}

.first-page {
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
}

.second-page {
    position: relative;
    z-index: -2;
    background: linear-gradient(90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.second-page::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 50%;
    height: calc(100vh - 40px);
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.5), rgba(35, 44, 61, 0.8));
}

.third-page {
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
}

.forth-page {
    background: linear-gradient(90deg, rgba(151, 66, 71, 1), rgba(35, 44, 61, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-list,
.footer-list-policy {
    display: flex;
    justify-content: space-between;
}

.footer-list a {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-list li:not(:last-child),
.footer-list-policy li:not(:last-child) {
    margin-right: 20px;
}

.twitter-icon {
    background-image: url(../img/icons/twitter.png);
}

.facebook-icon {
    background-image: url(../img/icons/facebook.png);
}

.instagram-icon {
    background-image: url(../img/icons/instagram.png);
}

.soundcloud-icon {
    background-image: url(../img/icons/soundcloud.png);
}

.spotify-icon {
    background-image: url(../img/icons/spotify-sketch.png);
}

.youtube-icon {
    background-image: url(../img/icons/youtube.png);
}