* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid #171523; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

body,
a,
.submenu button {
    font-family: sans-serif;
    color: #f4fff8;
}

body {}

transition: all ease 0.5s;
.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header,
footer {
    position: fixed;
    width: 100%;
    background-color: #171523;
    z-index: 3;
}

.track-list li,
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu {
    position: relative;
}

.submenu {
    padding: 16px;
    display: none;
    position: absolute;
    background-color: #171523;
}

.menu:hover>.submenu {
    display: block;
}

.submenu-item:hover {
    background-color: rgb(151, 66, 71);
}

.submenu-item {
    padding: 4px 8px;
    white-space: nowrap;
}

.submenu-item:not(:last-child) {
    margin-bottom: 16px;
}

.submenu button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header-nav,
.footer-nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item>a {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-item:not(:last-child) {
    margin-right: 20px;
}

.shop-icon {
    background-image: url(../img/icons/shopping-cart.png);
}

.home-icon {
    background-image: url(../img/icons/open-menu.png);
}

section:not(.sign-up) {
    height: calc(100vh - 0px);
    display: flex;
    align-items: center;
}

section .container {
    display: flex;
    align-items: flex-end;
}

.first-column {
    flex-basis: 500px;
}

.second-column {
    margin-left: 50px;
    flex-basis: 450px;
}

p,
a,
.track-list li {
    line-height: 26px;
    font-size: 15px;
}

.site-logo,
.button,
.shop-cost,
.shop-details,
.button a,
.album-name,
h3,
h2 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

.site-logo {
    font-size: 30px;
}

h2 {
    line-height: 38px;
    font-size: 20px;
    margin-bottom: 20px;
}

h2::after {
    display: block;
    width: 80px;
    height: 3px;
    content: "";
    background-color: rgb(244, 255, 248);
    border-radius: 5px;
}

h3 {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 50px;
}

.button {
    text-align: center;
    display: block;
    width: 220px;
    padding: 6px 0;
    border: 2px solid #f4fff8;
    cursor: pointer;
}

.button:active,
.icon:active,
.indicators span:active {
    transform: scale(0.9, 0.9);
}

.button:hover {
    background-color: #f4fff8;
}

.button:hover>a {
    color: #171523;
}

.track-list ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
    height: 235px;
}

.track-list li {
    list-style-type: decimal;
}

.track-list li:hover a,
.track-list li:hover {
    cursor: pointer;
    color: rgb(151, 66, 71);
}

.third-page .second-column {
    margin-top: 80px;
    margin-bottom: 0;
    align-self: center;
}

ol {
    margin-left: 18px;
}

ol li {
    padding-left: 25px;
}

.second-page p {
    width: 95%;
}

.second-page .second-column {
    position: relative;
    margin-bottom: 80px;
}

#album-list {
    position: absolute;
    display: flex;
}

.album-item {
    opacity: 0.5;
    text-align: center;
    border: 1px solid #f4fff8;
    width: 220px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#album-item-first {
    opacity: 1;
    order: 1;
}

#album-item-second {
    order: 2;
}

#album-item-third {
    order: 3;
}

#album-item-forth {
    order: 4;
}

.album-name {
    font-size: 22px;
}

#slider-left,
#slider-right {
    outline: none;
    color: #f4fff8;
    font-size: 25px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    top: 207px;
    border: none;
    position: absolute;
    left: 0;
}

#slider-right {
    left: 50px;
}

#slider-left:hover,
#slider-right:hover {
    border-radius: 50%;
    background-color: rgba(151, 66, 71, 0.6);
}

#slider-left:active,
#slider-right:active {
    background-color: rgba(151, 66, 71, 1);
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links>a::before {
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.itunes,
.spotify {
    display: flex;
    align-items: center;
}

.itunes::before {
    background-image: url(../img/icons/itunes.png);
}

.spotify::before {
    background-image: url(../img/icons/spotify-sketch.png);
}

.indicators {
    display: flex;
    flex-wrap: nowrap;
}

.indicators span {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 35px;
}

.indicators span::before {
    display: inline-block;
    margin-right: 16px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.likes::before {
    background-image: url(../img/icons/heart.png);
}

.share::before {
    background-image: url(../img/icons/share.png);
}

.indicators span:hover {
    border: 1px solid #f4fff8;
}

.shop-cost {
    font-size: 24px;
    margin-bottom: 25px;
}

.shop-details {
    font-size: 22px;
    margin-bottom: 15px;
}

.shop-details~p {
    margin-bottom: 25px;
}

.first-page {
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second-page {
    position: relative;
    background: linear-gradient(90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.second-page .container {
    z-index: 2;
}

.second-page::after {
    position: absolute;
    content: '';
    z-index: 1;
    width: 50%;
    height: 100%;
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.4), rgba(35, 44, 61, 1));
}

.third-page {
    background: linear-gradient(-90deg, rgba(151, 66, 71, 0.8), rgba(35, 44, 61, 0.8)), url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.forth-page {
    background: linear-gradient(90deg, rgba(151, 66, 71, 0.95), rgba(35, 44, 61, 0.95)), url(../img/131061.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.footer-list,
.footer-list-policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    width: 220px;
}

.footer-list-policy {
    width: 360px;
}

.footer-list a {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.twitter-icon {
    background-image: url(../img/icons/twitter.png);
}

.facebook-icon {
    background-image: url(../img/icons/facebook.png);
}

.instagram-icon {
    background-image: url(../img/icons/instagram.png);
}

.soundcloud-icon {
    background-image: url(../img/icons/soundcloud.png);
}

.spotify-icon {
    background-image: url(../img/icons/spotify-sketch.png);
}

.youtube-icon {
    background-image: url(../img/icons/youtube.png);
}


/* *** */

.test {
    display: flex;
    flex-direction: column;
}

.item-opened {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    width: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    user-select: none;
    -webkit-user-select: none;
}

.prev:hover,
.next:hover {
    background-color: #171523;
}

.row {
    width: 100%;
    display: flex;
}

.column {
    padding: 0 20px;
    border: 2px solid #f4fff8;
    width: 33.3%;
}

.demo {
    opacity: 0.4;
}

.active,
.demo:hover {
    opacity: 1;
}


/* *** */

input[type=text],
input[type=password] {
    padding: 15px;
    margin: 5px 0 10px 0;
    display: block;
    border: none;
    border-radius: 3px;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

form h4 {
    font-size: 20px;
}

form button {
    color: #f4fff8;
    background-color: rgb(66, 151, 70);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

form button:hover {
    opacity: 1;
}

.cancelbtn {
    background-color: rgb(151, 66, 71);
}

.cancelbtn,
.signupbtn {
    width: 40%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    border-radius: 5px;
    padding: 35px;
    background-color: rgb(35, 44, 61);
    width: 500px;
}

.modal-line::after {
    display: block;
    width: 80%;
    height: 3px;
    content: "";
    background-color: #f4fff8;
    border-radius: 5px;
    margin-bottom: 5px;
}

.close {
    position: absolute;
    right: 35px;
    top: 35px;
    font-size: 40px;
    line-height: 25px;
    font-weight: bold;
    color: #f4fff8;
}

.close:hover,
.close:focus {
    color: rgb(151, 66, 71);
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}