.people-0 {
    background-image: url("../img/person-1.png");
}

.people-1 {
    background-image: url("../img/person-2.png");
}

.people-2 {
    background-image: url("../img/person-3.png");
}

.people-3 {
    background-image: url("../img/person-4.png");
}

.people-4 {
    background-image: url("../img/person-6.png");
}

.people-5 {
    background-image: url("../img/person-5.png");
}

.numbers-0 {
    background-image: url("../img/1.png");
}

.numbers-1 {
    background-image: url("../img/2.png");
}

.numbers-2 {
    background-image: url("../img/3.png");
}

.numbers-3 {
    background-image: url("../img/4.png");
}

.numbers-4 {
    background-image: url("../img/5.png");
}

.numbers-5 {
    background-image: url("../img/6.png");
}

.houses-0 {
    background-image: url("../img/house-4.png");
}

.houses-1 {
    background-image: url("../img/house-1.png");
}

.houses-2 {
    background-image: url("../img/house-2.png");
}

.houses-3 {
    background-image: url("../img/house-3.png");
}

.weapons-0 {
    background-image: url("../img/weapon-3.png");
}

.weapons-1 {
    background-image: url("../img/weapon-1.png");
}

.weapons-2 {
    background-image: url("../img/weapon-2.png");
}

.weapons-3 {
    background-image: url("../img/weapon-4.png");
}

.empty-1 {
    background-image: url("../img/empty-1.png");
}

.empty-2 {
    background-image: url("../img/empty-2.png");
}